* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0 solid transparent;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  gap: 1px;
  max-width: 900px;
  margin: 20px auto;
  padding: 5px;
}

.calendar-square {
  width: 15px;
  height: 15px;
}

.level-0 {
  background-color: #ededed;
}
.level-1 {
  background-color: #acd5f2;
}
.level-2 {
  background-color: #7fa8c9;
}
.level-3 {
  background-color: #527ba0;
}
.level-4 {
  background-color: #254e77;
}

.day-of-week-cell {
  height: 15px;
}

.week-column,
.day-of-week-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
